<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Whatever</title>
  </head>
  <body>
    <h1>DF:LSKJF:LKDJF:LSKJ</h1>
    <p>first of all, you're so smart</p>
    <h1>i am so excited</h1>
    <h3>im gonna type this whole thing at 100 wpm</h3>
    <p>fucked the blunt up then fucked your mama my vvs cold like an artic tundra 40 on woah you dont want no problems and you best proceed with some caution
    <h2>so this is actually a really interesting</h2>
    </p>so it seems like everyone gets weed so easily and im thinking to myself like is it really this easy to get weed so i wondered if you could get it online and you can literally</p>
    <p>buy like a battery and a cart for like $40 or a preroll or an eddible or anything and literally all that you have to do is get an adults signature when its delivered</p>
    <p>and they probably dont even check that so if you looked relatively old you could probably just walk out a sign and no one would ask a single thing</p>
    <p>and i just thought that was crazy and honestly i would rather have the money go to the government to pay off all this debt and shit instead of it going to these drug dealers</p>
    <p>because if literally anyone could just buy weed ONLINE then whats the point of it being illegal like honestly</p>
  </body>
</html>
